<section id="main-slider" class="no-margin">
    <ul id="demo3">
        <li ng-repeat="i in images">
            <img height="285" src="images/slider/slide2.jpg" />
            <div class="slide-desc">
                <h2>Buy a new car with us</h2>
                <p>You need to pay only 25% only of total car cost</p>
            </div>
        </li>
        <li>
            <img height="285" src="images/slider/slide3.jpg" />

            <div class="slide-desc">
                <h2>Car your's EMI our's</h2>
                <p>Buy new car fro you we will pay your car EMI</p>
            </div>

        </li>
        <li><img height="285" src="images/slider/slide1.jpg" />        </li>
        <li><img height="285" src="images/slider/slide4.jpg" />      </li>
    </ul>
</section>