<div class="team-mem">
		<div class="container">
			   <div class="team-main">
					<div class="team-top">
							<h3>Our Team</h3>
					</div>
					<div class="team-bottom">
						<div class="col-md-3 team-grid">
							<a href="#"> <img src="images/t1.jpg" alt="" class="img-responsive"> </a>
						</div>
						<div class="col-md-3 team-grid">
							<a href="#"> <img src="images/t2.jpg" alt="" class="img-responsive"> </a>
						</div>
						<div class="col-md-3 team-grid">
							<a href="#"> <img src="images/t3.jpg" alt="" class="img-responsive"> </a>
						</div>
						<div class="col-md-3 team-grid">
							<a href="#"> <img src="images/t4.jpg" alt="" class="img-responsive"> </a>
						</div>
					<div class="clearfix"> </div>
				</div>
			</div>
	  </div>
</div>
