<div class="testmony">
	<div class="container">
		<div class="testmony-main">
			<div class="col-md-4 testmo-left">
				<img src="images/tes.jpg" alt="" class="img-responsive">
			</div>
			<div class="col-md-8 testmo-right">
				<span class="quota1"> </span>
				<h4>Nam libero tempore soluta nobis eligendi optio cumque impedit</h4>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
			    <span class="quota2"> </span>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
